APP_NAME="Zodiac Store"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database Settings
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=e-commerce
DB_USERNAME=root
DB_PASSWORD=

# Session & Cache
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

SANCTUM_STATEFUL_DOMAINS=localhost:5173

# Gmail SMTP (For OTP Password Reset)
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

# ABA PayWay (Sandbox Credentials)
ABA_PAYWAY_MERCHANT_ID=ec477686
ABA_PAYWAY_API_KEY=54d4636c94fab5d545fb6ac150890cebb6edc47a
ABA_PAYWAY_PURCHASE_URL=https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/purchase
ABA_PAYWAY_CHECK_URL=https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/check-transaction-2
ABA_PAYWAY_RETURN_URL=http://localhost:8000/payway/callback
ABA_PAYWAY_CURRENCY=USD

# Telegram Bot (Order Alerts)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Bakong KHQR
BAKONG_ACCOUNT_ID=sopheareaksa_pheak@bkrt
BAKONG_ACCOUNT_TYPE=individual
BAKONG_MERCHANT_NAME="Sopheareaksa Pheak"
BAKONG_MERCHANT_CITY="Phnom Penh"
BAKONG_API_URL=https://api-bakong.nbc.gov.kh
BAKONG_API_TOKEN=
